.sv-container {
    display: flex;
    flex-direction: column;
    /* position: relative; */
}

.array-container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    height: 50%;
    width: 50%;
}

.array-bar {
    width: 28px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #58b7ff;
    transition: 0.2s all ease;
}

.array-bar-label {
    position: absolute;
    top: -22px;
    width: 100%;
    text-align: center;
}



.button-container {
    text-align: center;
}

button {
    width: 10%;
    height: 40px;
    margin: 10px;
    border: none;
    border-radius: 3px;
    background-color: rgb(105, 105, 105);
    color: white;
    transition: linear all .2s;
    white-space: nowrap;
}

button:hover {
    cursor: pointer;
    background-color: rgb(75, 75, 75);
}

.reset-button {
    background-color: rgb(236, 79, 79);
}

.reset-button:hover {
    background-color: rgb(192, 64, 64);
}